/* Estilos Gerais */
body {
	margin: 0px;
	background-image: url(../assets/images/hero.gif);
	background-size: 100%;
	font-family: Montserrat;
	background-position-y: -92px;
	background-repeat: no-repeat;
}

a { 
	text-decoration: none;
	color: #000;
}

h1 {
	margin: 0px;
	color: #362082;
	font-size: 2.1em;
	width: 300px;
}

h2 {
    font-size: 1.6em;
    line-height: 1.25em;
}

h3 {
    font-size: 1.1em;
    font-weight: normal;
    letter-spacing: -1px;
}

/* Navegação */
#logo img {
	width: 52px;
}

nav {
	padding: 23px;
	display: flex;
	width: 1213px;
	margin: auto;
	align-items: center;
	height: 41px;
}

ul#menu {
	list-style: none;
	display: flex;
	margin-left: auto;
	width: 302px;
	justify-content: space-between;
	align-items: center;
	margin-right: 92px;
}

ul#menu li:last-child {
	border: 1px solid #fff;
	padding: 9px 16px;
	margin-top: -8px;
	border-radius: 5px;
}

ul#menu li a {
	color: #fff;
}

/* Sign up */
.sign-up {
	display: flex;
	align-self: flex-end;
	flex-direction: column;
	width: 32%;
	margin-left: auto;
	margin-top: 41px;
	background-color: #fff;
	padding: 55px 55px 26px;
	position: relative;
}

.sign-up span {
	color: #362082;
	font-weight: bold;
	font-size: 1.3em;
	margin-top: 24px;
	letter-spacing: -0.5px;
}

input#input-phone {
	border: none;
	border-bottom: 1px solid;
	font-size: 0.94em;
	font-family: Montserrat;
	padding-bottom: 10px;
	width: 100%;
}

.btn-becomeADriver {
	background-color: #ff00be;
	border: none;
	padding: 10px 21px;
	color: #fff;
	margin-top: 20px;
	border-radius: 6px;
	font-size: 1em;
}

.sign-up a {
	color: #696969;
	border-bottom: 1px solid;
	margin-left: 23px;
	font-size: 1.05em;
}

span.small {
	font-size: 0.78em;
	font-weight: normal;
	margin-top: 29px;
	line-height: 2em;
}

/* Descrição */
section.description {
	color: #fff;
	margin-top: -105px;
	padding-top: 219px;
	padding-bottom: 68px;
	background: linear-gradient(transparent 0%, #74258e 19%, #2b1e66 100%);
}

.wrapper {
    width: 1025px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

.text-description {
	width: 43%;
}

.text-description span {
	line-height: 1.6em;
	font-size: 0.9em;
	margin-bottom: 24px;
	display: block;
}

img.img-phone {
	width: 469px;
	height: 487px;
}

/* Vídeos e textos */
section.videos {
	width: 1346px;
	margin: auto;
}

.video-item {
	display: flex;
}

.video-text {
	width: 28%;
	padding: 43px 20px 43px 43px;
}

small {
	font-weight: bold;
	font-size: 0.7em;
}

.video-text h2 {
	margin: 0px 0px 18px;
	font-size: 1.75em;
}

.video-text span {
	font-size: 1.05em;
	line-height: 1.3em;
}

.videos iframe {
	width: 68%;
	height: 504px;
}

/* Footer/Rodapé */

footer {
    background-color: #333448;
    color: #fff;
    padding: 43px 0px;
}

footer .menu-footer ul {
    padding: 0px;
    list-style: none;
}

footer .menu-footer ul li a {
    color: #fff;
    line-height: 3.2em;
    letter-spacing: -0.05em;
}

.apps {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 22%;
    padding: 31px 0px;
    margin-top: 17px;
    padding-left: 7px;
}

.apps img {
    width: 121px;
    margin-top: 5px;
}

.bottom-footer {
    width: 100%;
}

ul.sociais {
    display: flex;
    width: 210px;
    justify-content: space-between;
    margin: 37px auto 20px;
    padding: 0px;
}

ul.sociais li {
    list-style: none;
}

ul.sociais li:nth-of-type(odd) {
    border: 2px solid #fff;
    padding: 4px 5px 3px;
    border-radius: 360px;
}

.icon-facebook:before {
	content: "\ea90";
	color: #fff;
  }
  
.icon-instagram:before {
    content: "\ea92";
    color: #fff;
    font-size: 1.8em;
}

.icon-twitter:before {
	content: "\ea96";
	color: #fff;
}

.credits {
    border-top: 1px solid #fff;
    text-align: center;
    font-size: 0.8em;
    padding: 30px 0px 18px;
    width: 80%;
    margin: auto;
}